<%= form_for(task) do |frm| %>
	<% if task.errors.any? %>
		<div id="error_explanation">
			<ul>
				<% task.errors.full_tasks.each do |task| %>
					<li><%= task %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	
	<%= frm.label :content, 'タスク' %>
	<%= frm.text_field :content %>
	
	<%= frm.label :status, '状態' %>
	<%= frm.text_field :status %>
	
	<% frm.submit '登録' %>
<% end %>
